<h1>Stack Overflow</h1>

<h2>Random Quote from the Github API</h2>
<p><%= @quoteresponse %></p>


<h2>Recently Asked Questions</h2>
 <%= link_to 'Ask a New Question', new_question_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Upvotes</th>
    <th>Downvotes</th>
    <th>Score</th>
  </tr>
 
  <% @questions.reverse.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.text %></td>
      <td class="up"><%= question.upvote %></td>
      <td class="down"><%= question.downvote %></td>
      <td class="score"><%= question.score %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= button_to 'Upvote', upvote_question_path(question), method: :put, :class => 'upvote_button', :id => question.id %></td>
      <td><%= button_to 'Downvote', downvote_question_path(question), method: :put, :class => 'downvote_button', :id => question.id %></td>

    </tr>
  <% end %>
</table>

<%= render 'questions/form' %>