<h1>Stack Overflow</h1>

<h2>Recently Asked Questions</h2>
 <%= link_to 'Ask a New Question', new_question_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @questions.reverse.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.text %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Destroy', question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= button_to 'Upvote', question_path(question) %></td>
      <td><%= button_to 'Downvote', question_path(question) %></td>
    </tr>
  <% end %>
</table>

<%= render 'questions/form' %>